@font-face 
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
        url('../fonts/TTFirsNeue-Medium.woff2') format('woff2'),
        url('../fonts/TTFirsNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap

@font-face
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap

@font-face
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap
    
@font-face
    font-family: 'Inter';
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap


@font-face
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap

$white = #fff
$black = #000
$gray = #6f767e
$light-gray = #d9d9d9
$darkest-blue = #295da2
$darker-blue = #3474ca
$blue = #3e8bf3
$light-blue = #c0e1ee
$green = #6fd6bd
$light-green = #d0e5c2
$light-violet = #dfd3f7
$blue-bg = #f5f9fe
$blue-bg-dark = #e3eefd

tr(){
	transition all 0.3s ease-in-out
}

html
	box-sizing border-box
	overflow-x hidden

*,
*::after,
*::before
	box-sizing inherit

body
    min-width 320px
    background-color $white
    font-family 'TT Firs Neue', sans-serif
    font-weight 500
    color $black
    overflow-x hidden

// Global

.container
    width 100%
    padding 0 108px
    margin 0 auto

.title
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color $black
    margin 0

.descr
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color $gray
    margin 0

.descr-sm
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color $gray
    margin 0

.list-reset 
    list-style none
    padding 0
    margin 0

.btn-reset
    background-color transparent
    padding 0
    border none

.btn
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color $white
    background-color $blue
    padding 12px 24px
    border-radius 8px
    transition background-color 0.3s ease-in-out, color 0.3s ease-in-out
    &:hover
        background-color: $darker-blue
    &:active
        background-color: $darkest-blue
        
a
    text-decoration none
    color inherit

img
    max-width 100%

.section-offset
    padding 120px 0

.section-divider
    border-bottom 1px solid $light-gray
    border-width: 85%

.visually-hidden 
    position absolute
    width 1px
    height 1px
    margin -1px
    border 0
    padding 0
    clip rect(0 0 0 0)
    overflow hidden

.stop-scroll {
    overflow-y: hidden;
    overscroll-behavior: contain;
}

.overlay
    position fixed
    display flex
    justify-content: center
    align-items: center
    top 0
    left 0
    z-index 10
    width 100%
    height 100vh
    background-color: rgba(0 0 0 0.8)
    visibility hidden
    tr()
    &--active
        visibility visible

.geo__overlay
    width: 300%
    flex-wrap: nowrap

.geo-popup
    transform translateX(0) !important

.geo-popup-container
    display flex
    justify-content: center
    align-items: center
    width 100vw
    height 100vh

.popup
    position relative
    width 600px
    padding 64px 80px
    background-color $white
    border-radius: 16px
    visibility hidden
    transform: translateX(250%)
    tr()
    &--active
        visibility visible
        transform: translateX(0)
    &__title
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color $black
        margin 0
        margin-bottom 16px
    &__descr
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color $gray
        margin 0
        margin-bottom 32px

.geo-popup
    display: flex
    flex-direction: column
    align-items: center
    &__icon
        border-radius 200px
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
        margin-bottom 32px

.geo__popup-1 .geo-popup__title
    width 100%

.popup__descr.geo-popup__descr
    text-align: center

.popup-closebtn
    position absolute
    top 24px
    right 24px
    width 24px
    height 24px
    z-index 20
    &__wrapper
        position relative
    &__line
        position absolute
        top 45%
        left 25%
        width 15px
        height 2px
        background-color $gray
        border-radius 100%
        &:first-child
            transform rotate(45deg)
        &:last-child
            transform rotate(-45deg)
    &:hover .popup-closebtn__line
        background-color $blue
    &:focus .popup-closebtn__line
        background-color $blue
    &:active .popup-closebtn__line
        background-color $darkest-blue

.form
    &__label
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color $gray
        margin 0
        margin-bottom 10px 
    &__input
    &__select
        width 100%
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color $gray
        padding 12px 24px
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        margin-bottom 32px
    &__option
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color $gray

.choices
    margin-bottom 32px
    &__inner
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color $gray
        background-color transparent
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding 0
    &[data-type*=select-one] .choices__inner
        padding-bottom 0
    &__list
        &--single
            padding 12px 24px
        &--dropdown
        &[aria-expanded]
            border-bottom-left-radius 8px
            border-bottom-right-radius 8px
    &__placeholder
        opacity 1

.choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after 
    display none

.choices[data-type*=select-one]::after
    height 13px
    width 13px
    border none
    top 32%
    right 28px
    margin-top 0
    border-right 1px solid $gray
    border-bottom 1px solid $gray
    transform rotate(45deg)
    transition transform 0.3s ease-in-out

.choices[data-type*=select-one].is-open::after
    top: 55%;
    border-color $gray
    transform: rotate(225deg);
    transform-origin: center;

.is-open .choices__inner
    border-top-left-radius 8px
    border-top-right-radius 8px


// Header
.header
    &__container
        position relative
        display flex
        justify-content space-between
        align-items center
        padding 20px 24px
        
    &__left,
    &__right
        display flex
        align-items center
    &__logo
        padding-right 24px
        border-right 1px solid $light-gray
        margin-right 24px
    &__btn
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding 12px 16px

.nav
    display flex
    align-items center
    &__list
        display flex
    &__item:not(:last-child)
        margin-right 40px
    &__link
        padding-bottom 30px
        border-bottom 2px solid transparent
        &:hover
            color $blue
            border-color $blue
        tr()      
        
.lang
    position relative
    &__selected
        display flex
        align-items center
        margin-right 24px
        &:hover
            & .lang__value
                color $blue
            & .lang__arrow
                stroke $blue
    &__icon
        width 20px
        height 20px
        margin-right 8px
    &__value
        width 63px
        tr()
    &__arrow
        width 24px
        height 24px
        stroke $gray
        transition: stroke .3s ease-in-out
        tr()
        &--active
            transform rotate(180deg)
    &__arrow--active
        transform rotate(180deg)

.lang-options
    position absolute
    top 60px
    left -18px
    background-color: $white
    border-radius 16px 
    padding 8px
    transform translateY(-200%)
    visibility hidden
    tr()
    &--active
        transform translateY(0)
        visibility: visible
    &__item
        display flex
        align-items: center
        color $gray
        padding 8px 16px
        &:not(:last-child)
            margin-bottom 8px
        &:hover
        &--active
            color $black
            background-color $blue-bg
            border-radius 8px
    &__icon
        width 20px
        height 20px
        margin-right 8px
    &__value
        tr()
        // &:hover
        //     color $blue

.menu
    &__lang
        display none

.burger
    display none
    position relative
    width 32px
    height 32px
    cursor pointer
    &:hover .burger__line
        background-color $blue
    &:focus .burger__line
        outline none
        background-color $blue
    &:active .burger__line
        background-color $darkest-blue
    &__line
        position absolute
        width 24px
        height 2px
        top 48%
        left 14%
        background-color $black
        &:first-child
            top 21%
        &:last-child
            top 71%      

// Hero
.hero
    background-color $blue-bg
    &__container
        background-image url('../img/hero-bg.png')
        background-repeat no-repeat
        background-position right 108px top 75px
        background-size 600px 626px
        padding 24px 24px 20px
    &__content
        padding-top 162px
        padding-left 84px
        margin-bottom 194px
    &__title
        max-width 41%
        font-weight: 500;
        font-size: 64px;
        line-height: 72px;
        margin 0
        margin-bottom 33px
    &__btn
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        padding 16px 24px
        margin-bottom 31px
    &__descr
        display flex
        align-items center
    &-descr__icon
        background-size contain
        width 24px
        height 24px
        margin-right 8px
    &__bottom
        display flex
        justify-content space-between

.hero-scroll
    display flex
    align-items center
    &__icon 
        width 24px
        height 24px
        margin-right 16px
    &__icon use
        width 100%
        height 100%

.social
    display flex
    align-items center
    &__descr
        margin-right 24px
    &__list
        display flex
        align-items center
    &__item
        &:not(:last-child)
            margin-right 16px
    &__link
        display inline-block
    &__icon
        width 40px
        height 40px
        color $blue
        use
            fill $white
            tr()
        &:hover
            use
                fill $blue
            color $white    
        &:active
            use
                fill $darkest-blue
            color $white
                

// About
.about
    &__content
        display flex
        justify-content space-between
    &__title
        width 50%
        margin-right 202px
    &__descr
        width 47%
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color $gray
        margin 0

// Stages
.stages
    &__top
        display flex
        justify-content: space-between
        align-items flex-start
        margin-bottom 48px
    &__title
        width 35%
    &__list
        display flex
    &__item
        display flex
        flex-direction column
        align-items: flex-start
        &:not(:last-child)
            margin-right 24px
    &__bottom-btn
        width 100%
        display none

.stages-item
    &__image
        margin-bottom 19px
    &__number
        color $black
        background-color $light-blue
        padding 4px 16px
        border-radius 24px
        margin-bottom 24px
        &-1
            background-color $light-violet
        &-3
            background-color $light-green
    &__title
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color $black
        margin 0
        margin-bottom 24px

// Geo
.geo
    position relative
    &__bg
        position absolute
        z-index -1
        width 77%
        height 100%
        top 120px
        right 7px
    &__title
        max-width 37%
        margin-bottom 32px
    &__btn-launch
        margin-right 11px
    &__btn-connect
        color $gray
        background-color $blue-bg
        tr()
        &:hover
            color $black
            background-color $blue-bg-dark
        &:active
            color $black
            background-color #bfd8fb




.countries
    max-width 13%
    padding 8px
    background-color $blue-bg
    border-radius 16px
    margin-bottom 64px
    &__item
        width 100%
        display flex
        align-items center
        padding 8px 16px
        cursor pointer
        &:not(:last-child)
            margin-bottom 8px
        &:hover
            background-color $white
            border-radius 8px
    &__item--active
        background-color $white
        border-radius 8px
    &__icon
        width 20px
        height 20px
        margin-right 8px

// FAQ
.faq
    padding-bottom 195px
    &__content
        display flex
        justify-content space-between
    &__left
        width 32%
    &__right
        width 66%
    &__title
        margin-bottom 32px
    &__descr
        max-width 55%

.accordion
    border-bottom 1px solid $light-gray
    &__item
        border-top 1px solid $light-gray
    &__head
        display flex
        justify-content: space-between
        align-items: center
        padding 24px
        tr()
        &:hover
            background-color: $blue-bg
    &__title
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        margin 0
    &__icon
        position relative
        width 24px
        height 24px
    &__line
        display inline-block
        position absolute
        height 2px
        width 14px
        top 59%
        left 22%
        background-color $gray
        border-radius 50%
        tr()
        &:last-child
            transform: rotate(90deg)
    &__content 
        padding 24px
        padding-top 0
        & p
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color $gray
            margin 0
    
    // jQuery Accordion Styles - Enabled
.ui-accordion
    &-header-icon
        display none

.ui-state-active .accordion__line:last-child
    transform: rotate(0deg)

// App
.app
    position relative
    background-color $blue-bg
    padding 96px 0
    &__content
        z-index 1
        width 45%
    &__title
    &__descr
        margin-bottom 32px
    &__descr
        width 81%
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    &__bg
        position absolute
        width 100%
        height 115%
        right 214px
        bottom 0
        background-image url(../img/app-bg.png)
        background-repeat no-repeat
        background-position right bottom

// Footer
.footer
    padding 64px 0
    &__container
        display flex
        justify-content space-between
        align-items center
    &__left
        margin-right 436px
    &__center
        display flex
        margin-right 212px
    &__link
        tr()
        &:hover
            color $blue
    &__terms
        margin-right 32px
    &__right
        display flex
        align-items center
    &-social__descr
        margin-right 24px
    &-social__icon
        border-radius 200px
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);

