@import ('main.styl')

@media (min-width 1729px)
    .container
        padding 0 200px

    .header
        &__container
            padding 20px 60px

    .hero
        &__container
            background-position: right 269px top 75px;
            padding 24px 60px 20px
        
    .stages
        &__list
            justify-content: space-between
        &__item
            max-width 24%
    
    .app
        &__bg
            height: 132%;
            top: -166px;
            right: 271px;

@media (min-width 1441px) and (max-width 1728px)
    .container
        padding 0 140px

    .header
        &__container
            padding 20px 40px
    
    .hero
        &__container
            padding 24px 40px 20px

@media (max-width 1280px)
    .container
        padding 0 80px

    .title
        font-size: 40px;
        line-height: 48px;

    .header
        &__left
            margin-right 24px
        &__logo
            border-right: none  
            padding 0 
            margin-right 0
        &__btn
            margin-right 24px  
        &__burger
            display block

    .menu
        position absolute
        display flex
        flex-direction column
        top 0
        right 0
        z-index 10
        width 280px
        height 100vh
        background-color $white
        padding 28px 24px 28px 32px
        transform translateX(120%)
        visibility hidden
        tr()
        &--active
            visibility visible
            transform: translateX(0)
        &__burger
            margin-left auto
            margin-bottom 24px
        &__lang
            display block
        &__lang-title
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color $gray
            margin 0
            margin-bottom 24px
        &__lang-item
            display flex
            align-items center
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color $gray
            cursor pointer
            &:hover
                color $blue
            &--active
                color $black
            &:not(:last-child)
                margin-bottom 20px
        &__lang-icon
            width 20px
            height 20px
            margin-right 8px

    .nav
        &__list
            flex-direction: column
            width 100%
            padding-bottom 24px
            margin-bottom 24px
            border-bottom 1px solid $light-gray
        &__item
            &:not(:last-child)
                margin-right 0
                margin-bottom 24px
        &__link
            padding-bottom 10px

    .hero
        &__container
                background-size: 450px 486px;
                background-position: right 90px top 105px;
        &__content
                padding-top: 140px;
                margin-bottom: 140px;
        &__title
            font-size: 54px;
            line-height: 60px;
    
    .about
        &__title
            width: 61%;
            margin-right: 70px;
        &__descr
            width: 57%;

    .stages
        &__title
            width 38%

    .geo
        &__title
            max-width 41%

    .countries
        max-width 19%

    .faq
        padding-bottom 140px
        &__left
            width 26%
        &__descr
            max-width 82%
        &__right
            width 74%

    .accordion
        &__title
            font-size: 22px;
            line-height: 28px;

    .app
        &__content
            width 47%
        &__bg
            top -88px
            right 100px

    .footer
        &__left
            margin-right 250px
        &__center
            margin-right 30px

@media (max-width 992px)
    .container
        padding 0 24px

    .title
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
    
    .section-offset
        padding 80px 0

    .hero
        &__container
            background-image: url(../img/hero-bg-m.png);
            background-position: center top 32px;
            background-size: 452px 472px;
        &__content
            display flex
            flex-direction: column
            align-items: center
            padding-top 512px
            padding-left 4px
            margin-bottom 47px
        &__title
            max-width 95%
            text-align center
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
    
    .about
        padding-top 81px
        padding-bottom 81px
        &__content
            flex-direction: column
        &__title
            width 74%
            margin-right 0
            margin-bottom 32px
        &__descr
            width 74%

    .stages
        position relative
        padding-bottom 64px
        &__top
            position absolute
            width 45%
            flex-direction: column
            justify-content: flex-start
            margin 0
        &__title
            width 56%
            margin-bottom 31px
        &__list
            justify-content: space-between
            flex-wrap: wrap
        &__item
            width 48%
            &:first-child
                margin-bottom 63px
                margin-right 0
                margin-left 52%
    
    .geo
        &__container
            display flex
            flex-direction column-reverse
        &__wrapper
            margin-bottom 471px
        &__title
            max-width 74%
        &__bg
            width 96.5%
            height 100%
            top 252px
            left 24px
        &__bg svg
            width 97%

    .countries
        max-width 100%
        margin-bottom 0
        &__list
            display flex
            flex-wrap: nowrap
        &__item
            max-width 20%
            &:not(:last-child)
                margin-bottom 0
                margin-right 8px
    
    .faq
        &__content
            flex-direction: column
        &__left
            width 100%
            display flex
            justify-content: space-between
            margin-bottom 32px
        &__descr
            max-width 35%
        &__right
            width 100%
    
    .accordion
        &__head
            padding 23.5px
        &__title
            max-width 86%
            font-size: 24px;
            line-height: 32px;
    
    .app
        padding-top 81px
        padding-bottom 592px
        &__content
            width 100%
            display flex
            flex-direction: column
            align-items: center
        &__title
            text-align: center
        &__descr
            width 74%
            text-align: center
        &__bg
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            background-image: url(../img/app-bg-m.png);
            background-position: center bottom;
            background-size 456px 528px
    
    .footer
        padding 31px 0
        &__left
            margin-right 24px
        &__center
            margin-right 79px

@media (max-width 576px)
    .container
        padding 0 16px

    .section-offset
        padding 32px 0

    .btn
        font-size: 16px;
        line-height: 24px;
    
    .title
        font-size: 24px;
        line-height: 32px;
    
    .descr
        font-size: 14px;
        line-height: 20px;

    .popup
        width 90%
        padding 24px
        &__title
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            margin-bottom 24px
        &__descr
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
    
    .popup-closebtn
        position absolute
        top 16px
        right 16px
        width 16px
        height 16px

    .geo-popup
        &__btn
            width 100%
        &__icon
            width 64px
            height 64px
            margin-bottom 24px

    .geo__popup-1 
        align-items: flex-start

    .geo__popup-1 .geo-popup__title
        width 75%
        text-align: left
    
    .geo__popup-2 .geo-popup__title
        width 85%
        text-align: center

    .form
        &__label
            font-size: 14px;
            line-height: 20px;
        &__input
        &__select
            font-size: 16px;
            line-height: 24px;
            padding 12px 16px
            margin-bottom 16px
    
    .choices
        margin-bottom 16px
        &__inner 
            font-size: 16px;
            line-height: 24px;

    .choices[data-type*=select-one]::after
        height 10px
        width 10px
        right 16px

    .header
        &__container
            padding 16px 17px
        &__left
            margin-right 0
        &__logo img
            width 74%
        &__lang
            display none
        &__btn
            font-size 14px
            line-height 20px
            padding 8px 12px
            margin-right 16px
    
    .menu
        width 192px
        &__lang-item
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            &:not(:last-child)
                margin-bottom 24px
    
    .burger
        width 24px
        height 24px
        &__line
            width 19px
            top 47%

    .hero
        &__container
            background-image: url(../img/hero-bg-s.png);
            background-position: center bottom 32px;
            background-size: auto 534px
            padding-bottom 60px
        &__content
            padding-top 8px
            padding-left 0
            padding-bottom 500px
        &__title
            max-width 100%
            font-size: 32px;
            line-height: 40px;
            margin-bottom 24px
        &__btn
            padding 12px 24px
            margin-bottom 22px
        &-descr__icon
            width 21px
            height 21px
        &__bottom
            display none
    
    .about
        &__title
            width 100%
            margin-bottom 15px
        &__descr
            width 100%
            font-size: 14px;
            line-height: 24px;

    .stages
        &__top
            position static
            width 100%
            margin-bottom 26px
        &__title
            width 100%
            margin 0
        &__btn
            display none
        &__list
            margin-bottom 51px
        &__bottom-btn
            display block

    .stages-item
        width 100%
        &:first-child
            margin-left 0
        &:not(:last-child)
            margin-right 0
            margin-bottom 32px  
        &__number
            margin-bottom 15px
        &__title
            font-size: 20px;
            line-height: 32px;
            margin-bottom 16px

    .geo
        padding-bottom 35px
        overflow: hidden
        &__wrapper
            margin-bottom 282px
        &__title
            max-width 100%
            margin-bottom 24px
        &__btn
            width 100% 
            &-launch
                margin-right 0
                margin-bottom 16px
        &__bg
            top 62px
            left 16px
        &__bg svg
            width 94%

    .countries
        display flex
        position absolute
        left -10px
        min-width 106%
        overflow-x scroll
        padding 8px 26px
        &::-webkit-scrollbar
            display: none
        &__item
            max-width 21%

    .faq
        &__left
            flex-direction: column
            margin-bottom 24px
        &__title
            margin-bottom 16px
        &__descr
            max-width 64%
    
    .accordion
        &__head
            padding 15px 7px
        &__title
            font-size: 16px;
            line-height: 24px;
        &__content
            padding 9px 8px 41px 8px
        &__content p
            font-size: 14px;
            line-height: 20px;

    .app
        padding-top 33px
        padding-bottom 365px
        &__title
            margin-bottom 16px
        &__descr
            width 100%
            margin-bottom 15px
        &__bg
            height: 100%;
            top: 0;
            right: 0;
            background-image: url(../img/app-bg-s.png);
            background-position: center bottom;
            background-size: 288px 333px;

    .footer
        &__container
            flex-direction column
            align-items: center
        &__left
            margin-right 0
            margin-bottom 24px
        &__center
            margin-right 0
            margin-bottom 32px
        &__right
            flex-direction: column
            justify-content: center
        &-social__descr
            margin-right 0
            margin-bottom 15px

    .social__item
        &:not(:last-child)
            margin-right 32px
            